body {
    background-color: rgb(177, 215, 228);
    color: darkblue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#myForm {
    padding: 30px;
    color: rgb(0, 38, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    background-color: rgb(62, 118, 238);
    width: 250px;
    margin-top: 50px;
    border-radius: 10px;


}

#botonAlerta {
    color: rgb(50, 28, 243);
    font-style: oblique;
    font-size: x-large;
    background-color: rgb(62, 118, 238);
    border-radius: 10px;
}

/**Barra de navegacion**/
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 30px 10px 10px rgb(51, 63, 240);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }
}

/**Fin barra**/
.mail {
    color: rgb(5, 5, 92);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 211, 229);
    min-height: 200px;
    text-align: center;

}



/**Imagenes**/
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.imagen {
    width: 310px;
    height: 163px;
}

.imagen3 {
    height: 163px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;
    gap: 5px;
}

iframe {
    max-width: 90%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    text-align: center;
}